/* media*/

@media screen and (min-width: 480px) {
    .container{
        max-width: 428px;            
    }
    .footer-container {
        min-width: 428px;
    }
        /*   Mob-menu   */
    
            .mob-menu-tel-item {
            font-size: 36px;
            line-height: 1.11;
        }
    
        .mob-menu-soc-list {
            gap: 56px;
        }
        
        .mob-menu-soc-item {
            width: 40px;
            height: 40px;
        }
    
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
    
        /*    Header    */

    .web {
        color: var(--primary-accent-color)
    }
    
    .logo {
        margin-right: 76px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary-text-color);
        }
    
        .site-nav {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        .auth-nav {
            display: block;
            /* display: flex; */
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            text-align: end;
        }
    
        .auth {
            margin-left: auto;
        }
    
        .site-item:not(:first-child) {
            margin-left: 40px;
        }
    
        .auth-item+.auth-item {
            margin-left: 40px;
        }
    
        .logo-site {
            display: flex;
            align-items: center;
        }
    
        .header-line {
            border-bottom: 1px solid var(--footer-text-color);
        }
    
        .nav-container {
            display: flex;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
        }


        /*    Hero      */

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
    
    .button {
        margin-top: 40px;
    }
    
         /*     feature     */
    
    .feature {
        display: flex;
        flex-wrap: wrap; 
        gap: 24px;       
    }

    .feature-list{
        text-align: unset;
    }

    .feature-items{
        width: calc((100% - 24px)/2);
    }

        /*     TEAMS    */


    .teams>.container {
        width:100%;
    }
    .teams{
        padding-bottom: 104px;
    }

    .teams-items{
        margin-top: unset;
    }
    .teams-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    } 

        /*   ------- CUSTOMERS --------  */

    .customers-list {
        gap: 24px;
    }
    
    .customers-logo-item {
        width: calc((100% - 48px) / 3);
    }

        /*     Footer   */
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }   
    
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        min-width: 768px;
    }
    
    .soc-footer {
        margin-left: 24px;
        margin-top: unset;
    }
    
    .logo-footer{
        text-align: unset;
    }

    .footer-text{
        text-align: unset;
    }
    .footer-subscribe {
        margin-left: unset;
    }
    
    .subscribe-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subscribe-text {
        text-align: unset;
    }
    

    .subscribe-but {
        margin-top: unset; 
        margin-left: 24px;     
    }
    
        /* Portfolio*/
    
        .portfolio {
            padding-top: 64px;
            padding-bottom: 96px;
        }
        
        .portfo-list {
            display: flex;
            margin-bottom: 64px;
            justify-content: center;
        }
    
        .portfo-btn+.portfo-btn {
            margin-left: 24px;
        }
    
        .item{
            width: calc((100% - 24px)/2);
        }

        .gallery-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
        }
    
    /*     Backdrop  */
    
        .backdrop {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity var(--trans-dur) var(--trans-time), visibility var(--trans-dur) var(--trans-time);
            opacity: 1;
        }
    
    
        .is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            min-width: 408px;
            min-height: 576px;
            background: var(--background-modal);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 24px;
    
            transition: transform var(--trans-dur) var(--trans-time);
        }
    
        .backdrop.is-hidden .modal {
            transform: translate(-50%, -50%) scale(0);
        }
    
        .modal-close {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            width: 24px;
            height: 24px;
            background: var(--footer-text-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            cursor: pointer;
            margin-bottom: 24px;
            color: var(--footer-background-color);
    
            transition-property: background-color;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .modal-close:focus,
        .modal-close:hover {
            background-color: var(--secondary-accent-color);
            fill: var(--background-modal);
        }
    
    
    
        .modal-title {
            width: 100%;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--footer-background-color);
    
        }
    
        .modal-field {
            margin-bottom: 8px;
        }
    
        .modal-input {
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 38px;
            padding-right: 11px;
            width: 100%;
            height: 40px;
            background: var(--background-modal);
            border: 1px solid rgba(33, 33, 33, 0.2);
            outline: transparent;
            border-radius: 4px;
            color: var(--footer-background-color);
    
            transition-property: border-color;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .modal-but {
            padding: 16px 32px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            background: var(--primary-accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            color: var(--white-color);
            border: none;
            margin: 0 auto;
            display: block;
            cursor: pointer;
    
    
            transition-property: backgrount-color;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .modal-but:hover,
        .modal-but:focus {
            background-color: var(--secondary-accent-color);
        }
    
        .input-text {
            display: inline-block;
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: var(--custom-border-first);
        }
    
        .modal-wrap {
            position: relative;
        }
    
        .modal-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--footer-background-color);
    
            transition-property: fill;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .modal-input:focus {
            border-color: var(--primary-accent-color);
        }
    
        .modal-input:focus+.modal-icon {
            fill: var(--primary-accent-color);
        }
    
        .modal-comment {
            width: 100%;
            height: 120px;
            padding: 8px 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: transparent;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(117, 117, 117, 0.5);
            resize: none;
    
            transition-property: border-color;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .modal-comment:focus {
            border-color: var(--primary-accent-color);
        }
    
        .checkbox-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #757575;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin-bottom: 24px;
    
        }
    
        .checkbox-input {
            appearance: none;
            position: absolute;
    
            transition-property: background-color, background-image, border;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .checkbox-text {
            display: flex;
            align-items: center;
    
        }
    
        .checkbox-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 1.25px solid #2E2F42;
            border-radius: 2px;
            margin-right: 8px;
    
            transition-property: background-color, background-image, border;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time)
        }
    
        .checkbox-input:checked+.checkbox-icon {
            background-color: var(--secondary-accent-color);
            background-image: url(../images/click.svg);
            background-position: center;
            background-repeat: no-repeat;
    
            border: none;
    
        }
    
        .checkbox-line {
            color: var(--primary-accent-color);
            text-decoration-line: underline;
        }
}


@media screen and (min-width: 1200px) {
    .container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /*    Header    */

        .web {
            color: var(--primary-accent-color)
        }
    
        .logo {
            margin-right: 76px;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--primary-text-color);
        }
    
        .site-nav {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        .auth-nav {
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
        }
    
        .auth {
            margin-left: auto;
        }
    
        .site-item:not(:first-child) {
            margin-left: 40px;
        }
    
        .auth-item+.auth-item {
            margin-left: 40px;
        }
    
        .logo-site {
            display: flex;
            align-items: center;
        }
    
        .header-line {
            border-bottom: 1px solid var(--footer-text-color);
        }
    
        .nav-container {
            display: flex;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
        }




    /*    Hero      */

    .hero {
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    
    .button {
        margin-top: 48px;
    }
    
    

    /*     feature     */

    .feature {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
    
    }
    .section-feature {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .headline {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        }

    .feature-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        background: var(--secondary-backgrountd-color);
        border-radius: 4px;
        }
    
    /*   WORK   */

    .section-works {
        display: unset;
        padding-bottom: 120px;
    }
    
    .works-list {
        display: flex;
        gap: var(--list-gap);
    }
    
    /*     TEAMS    */
        .teams {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        .teams-list {
            display: flex;
            gap: var(--list-gap);
        }
    
    
        .title {
            flex-basis: calc(100%/4-24px);
        }
    
        
    /*   CUSTOMERS    */

    .customers {
        padding-top: 130px;
        padding-bottom: 120px;
    }
    
        .customers-list {
            flex-wrap: unset;
            gap: 24px;
        }
    
    
        .customers-logo-item {
            width: calc((100%-120px)/6);
        }
    
        .customers-logo-link {
            width: 100%;
            height: 100%;
            border: 1px solid var(--custom-border-first);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--custom-border-first);
            transition-property: border-color, fill;
            transition-duration: var(--trans-dur);
            transition-timing-function: var(--trans-time);
        }
    
        .customers-logo-icon {
            fill: currentColor;
        }
    
        .customers-logo-link:is(:hover, :focus) {
            border-color: var(--secondary-accent-color);
            fill: var(--secondary-accent-color);
        }

        /*     Footer   */
    
        footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        .logo-footer {
            text-align: unset;
        }
            

        .footer-container {
            min-width: 1158px;
        }
            
        .soc-footer {
            margin-top: unset;
        }
            
        .footer-subscribe {
            margin-top: unset;
        }
        /* Portfolio*/
    
        .portfolio {
            padding-top: 96px;
            padding-bottom: 120px;
        }
    
        .portfo-list {
            margin-bottom: 72px;
        }
    
        .gallery-list {
            row-gap: 48px;
        }
    
        .item {
            width: calc((100% - 48px)/3);
        }
    
        /*    Backdrop */
        .backdrop {
            position: fixed;
            top: 0;
            width: 100%;
             height: 100%;
             background-color: rgba(46, 47, 66, 0.4);
             transition: opacity var(--trans-dur) var(--trans-time), visibility var(--trans-dur) var(--trans-time);
             opacity: 1;
         }
    
    
         .is-hidden {
             opacity: 0;
             visibility: hidden;
             pointer-events: none;
         }
    
         .modal {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%) scale(1);
             min-width: 408px;
             min-height: 576px;
             background: var(--background-modal);
             box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
             border-radius: 4px;
             padding: 24px;
    
             transition: transform var(--trans-dur) var(--trans-time);
         }
    
         .backdrop.is-hidden .modal {
             transform: translate(-50%, -50%) scale(0);
         }
    
         .modal-close {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: auto;
             width: 24px;
             height: 24px;
             background: var(--footer-text-color);
             border: 1px solid rgba(0, 0, 0, 0.1);
             border-radius: 50%;
             cursor: pointer;
             margin-bottom: 24px;
             color: var(--footer-background-color);
    
             transition-property: background-color;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .modal-close:focus,
         .modal-close:hover {
             background-color: var(--secondary-accent-color);
             fill: var(--background-modal);
         }
    
    
    
         .modal-title {
             width: 100%;
             margin-bottom: 16px;
             font-weight: 500;
             font-size: 16px;
             line-height: 1.5;
             text-align: center;
             letter-spacing: 0.02em;
             color: var(--footer-background-color);
    
         }
    
         .modal-field {
             margin-bottom: 8px;
         }
    
         .modal-input {
             padding-top: 11px;
             padding-bottom: 11px;
             padding-left: 38px;
             padding-right: 11px;
             width: 100%;
             height: 40px;
             background: var(--background-modal);
             border: 1px solid rgba(33, 33, 33, 0.2);
             outline: transparent;
             border-radius: 4px;
             color: var(--footer-background-color);
    
             transition-property: border-color;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .modal-but {
             padding: 16px 32px;
             margin-left: auto;
             margin-right: auto;
             font-weight: 500;
             font-size: 16px;
             line-height: 1.5;
             background: var(--primary-accent-color);
             box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
             border-radius: 4px;
             color: var(--white-color);
             border: none;
             margin: 0 auto;
             display: block;
             cursor: pointer;
    
    
             transition-property: backgrount-color;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .modal-but:hover,
         .modal-but:focus {
             background-color: var(--secondary-accent-color);
         }
    
         .input-text {
             display: inline-block;
             margin-bottom: 4px;
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
             color: var(--custom-border-first);
         }
    
         .modal-wrap {
             position: relative;
         }
    
         .modal-icon {
             position: absolute;
             left: 16px;
             top: 50%;
             transform: translateY(-50%);
             fill: var(--footer-background-color);
    
             transition-property: fill;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .modal-input:focus {
             border-color: var(--primary-accent-color);
         }
    
         .modal-input:focus+.modal-icon {
             fill: var(--primary-accent-color);
         }
    
         .modal-comment {
             width: 100%;
             height: 120px;
             padding: 8px 16px;
             border: 1px solid rgba(33, 33, 33, 0.2);
             border-radius: 4px;
             outline: transparent;
             font-weight: 400;
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
             color: rgba(117, 117, 117, 0.5);
             resize: none;
    
             transition-property: border-color;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .modal-comment:focus {
             border-color: var(--primary-accent-color);
         }
    
         .checkbox-text {
             font-weight: 400;
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
             color: #757575;
             flex: none;
             order: 1;
             flex-grow: 0;
             margin-bottom: 24px;
    
         }
    
         .checkbox-input {
             appearance: none;
             position: absolute;
    
             transition-property: background-color, background-image, border;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .checkbox-text {
             display: flex;
             align-items: center;
    
         }
    
         .checkbox-icon {
             display: inline-block;
             width: 16px;
             height: 16px;
             border: 1.25px solid #2E2F42;
             border-radius: 2px;
             margin-right: 8px;
    
             transition-property: background-color, background-image, border;
             transition-duration: var(--trans-dur);
             transition-timing-function: var(--trans-time)
         }
    
         .checkbox-input:checked+.checkbox-icon {
             background-color: var(--secondary-accent-color);
             background-image: url(../images/click.svg);
             background-position: center;
             background-repeat: no-repeat;
    
             border: none;
    
         }
    
         .checkbox-line {
             color: var(--primary-accent-color);
             text-decoration-line: underline;
         }
}